<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT FORM</title>
</head>
<body>
    <h2>You are about to edit this username</h2>
    <form method="POST" action="/users/<%= user.id %>?_method=PATCH">
        <textarea name="userName">
            <%= user.username %>
        </textarea>
        <input type="password" name="userPassword" id="" />
        <button type="Submit">
            Submit
        </button>
    </form>


</body>
</html>