/* GLOBAL */
body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;

  /* Dark mode override */
  --card-bg: white;
  --text-main: #000;
  --text-light: #666;

  /* Dark mode */
}
html.dark body {
  background: #0f0f0f;
  --card-bg: #bbbbbb;   

  --text-main: #0f0f0f;
  --text-light: #0f0f0f;
}

/* PROFILE CONTAINER */
.profile-container {
  max-width: 850px;
  margin: 40px auto;
  padding: 20px;
}

/* PROFILE CARD */
.profile-card {
  background: var(--card-bg);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.12);
  text-align: center;
  justify-content: space-around;
  align-items: center;
  display: flex;
  gap: 20px;

  color: var(--text-main);
}

/* TEXT */
.username {
  font-size: 2rem;
  font-weight: bold;
}

.email {
  font-size: 1.1rem;
  margin-top: 6px;
  color: var(--text-light);
}

.dream {
  margin-top: 12px;
  font-size: 1rem;
  color: var(--text-main);
}

.empty {
  color: #aaa;
}

html.dark .empty {
  color: #666;
}

.joined {
  margin-top: 10px;
  font-size: 0.9rem;
  opacity: 0.6;
}

/* POSTS */
.posts-section {
  margin-top: 40px;
}

.posts-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-main);
}

.post-card {
  background: var(--card-bg);
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 2px 7px rgba(0,0,0,0.1);
  color: var(--text-main);
}

.post-content {
  font-size: 1.1rem;
}

.post-date {
  margin-top: 8px;
  font-size: 0.8rem;
  opacity: 0.6;
  color: var(--text-light);
}
